.popup__error {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 13px;
  color: #FF0000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.popup__error:last-of-type {
  margin-bottom: 30px;
}