.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 920px) {
  .profile {
    padding: 0 19px 50px;
  }
}

@media (max-width: 720px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 36px;
  }
}