.profile__container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 720px) {
  .profile__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
}