.element__like {
  background-image: url(../../../images/heart.svg);
  background-color: #fff;
  border: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 50%;
}

.element__like:active {
  background-image: url(../../../images/heart__active.svg);
}